# Auto detect text files and perform LF normalization
* text=auto
*.ma filter=lfs diff=lfs merge=lfs -text
Facial/Maya/Data/ filter=lfs diff=lfs merge=lfs -text
facialmayadataxiaoyue.ma filter=lfs diff=lfs merge=lfs -text
